<p id="notice"><%= notice %></p>



<body>

   
    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
           <p>
  <strong>Name:</strong>
  <%= @atm_mach.name %>
</p>


<p>
  <strong>Address:</strong>
  <%= @atm_mach.address %>
</p>



<%if current_user.account.present? %>
        <center><h3>Avalable Balance : 
        <strong><%=number_to_currency(current_user.account.balance.to_f)%> </strong></h3></center>
      <%else%>
        <center><h3><strong class="label label-danger text-uppercase "> <%= p "NO Account Associated with This Email " %></strong></h3></center>
      <%end%>
    </div>
  </div>
</div>
                
                  </tbody>
                </table>

                <br>

               


        </header>

        <hr>


          <div class="row">
            <div class="col-lg-12">
                <center><h3><% if user_signed_in? %>Welcome:<%= current_user.email %> </h3></center>
                <%end%>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <% if current_user.user_info.present? %>
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    
                    <div class="caption">
                        <h3>ALL TRANSACTIONS</h3>
                        <p>Check your transaction history and download your copy!</p>
                        <p>
                            <%=link_to 'transactions',  transaction_list_account_path(current_user.account ),class:"btn btn-info btn-lg"%>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    
                    <div class="caption">
                        <h3>WITHDRAWAL</h3>
                        <p>Check your Email to stay on track with us!</p>
                        <p>
                            <%=link_to 'Withdrawal ', new_withdrawal_account_path(current_user.account ),class:"btn btn-danger btn-lg"%>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    
                    <div class="caption">
                        <h3> DEPOSIT</h3>
                        <p>Depost your money and stay save with our services!</p>
                        <p>
                            <%=link_to 'Add Deposit',  new_deposit_account_path(current_user.account),class:"btn btn-success btn-lg"%>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    
                    <div class="caption">
                        <h3>UPDATE INFO</h3>
                        <p>Update your informations to stay safe and secure!</p>
                        <p>
                            <%= link_to 'Information',edit_user_info_path(current_user.user_info.id,atm_no: @atm_mach.id),class:"btn btn-info btn-lg"%>
                        </p>
                        <%else%> 
                        <div class="row">
      <center><%= link_to 'Create New Account ',new_user_info_path(atm_no: @atm_mach.id ),class:" col-md-4 col-md-offset-2  btn btn-info btn-lg" %></center>
      </div>
   
                    </div>
                     <%end%>
                </div>
            </div>
            
        </div>
        <!-- /.row -->

        <hr>


<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@atm_mach.latitude}%2C#{@atm_mach.longitude}" %> 

<center>></center><h3>Nearby locations</h3>
<ul>
<% for atm_mach in @atm_mach.nearbys(10) %>
  <li><%= link_to atm_mach.address, atm_mach %> (<%= atm_mach.distance.round(2) %> miles)</li>
<% end %>
</ul>
<%= link_to 'Edit', edit_atm_mach_path(@atm_mach) %> |
<%= link_to 'Back', atm_maches_path %></center>
</div>
</body>
